<% if (typeof(errorMessage) !== "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
<% } %>

<h2>Login</h2>

<form action="/login" method="POST" id="form-container" class="login">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Usuario" required>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Contraseña" required>
    <% if (typeof message !== "undefined") { %>
        <div class="error-message"><%= message %></div>
      <% } %>
   <button>Log In</button>

    <p class="account-message">
        ¿No tienes cuenta?
        <a href="/signup">Sign up</a>
    </p>
</form>