<section id="home" class="container-fluid">
    <div class="container">
        <div class="row">
            <div id="cont">
                <h1>titulo home</h1>
                <a href="/personalizado">Empezar</a>
            </div>
        </div>
    </div>
</section>