<section id="home" class="container">
    <div class="row">
        <div id="cont">
            <h1><span>Eres</span> LA LECHE</h1>
            <p></p>
            <!-- <a href="/personalizado">Empezar</a> -->
        </div>
    </div>
</section>