<section id="home" class="container">
    <div class="row">
        <div id="cont">
            <h1><span>Eres</span> LA LECHE</h1>
            <p>Llévate a casa la leche más fresca y <span>personaliza tus botellas</span> de cristal con tu foto y texto favorito.</p>
            <a href="/personalizado">EMPEZAR</a>
        </div>
    </div>
</section>