<section id="personalizado" class="container">
    <div class="row">
        <div id="mockup" class="col-md-6">
            <img src="https://blog.spoongraphics.co.uk/wp-content/uploads/2014/t-shirt-templates/7.jpg" alt="" width="300">
            <% if (typeof(object) != 'undefined') {%>
                <div id='img-up'>
                   <img src="/<%= object.url_img %>" alt="">     
                </div>
                <p><%= object.texto %></p>
            <% } %>
        </div>
        <div id="create-comp" class="col-md-6">
            <form action="/personalizado" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">1. Selecciona tu foto (500x500 px)</label>
                    <input type="file" name="url_img">
                </div>
                <div class="form-group">
                    <label for="">2. Escribe el texto (Max. 140 caracteres)</label>
                    <textarea name="texto" id="" cols="30" rows="10"></textarea>
                </div>
                <label>3. Tipo de producto</label>
                <select class="form-control" name="tipo">
                    <option>Rock</option>
                    <option>Metal</option>
                    <option>Pop</option>
                </select>
                <label> 4. Pulsa el bot칩n guardar</label>
                <div class="a침adir form-group">
                    <label> 5. A침ade la cantidad</label>
                    <input type="number" value=0 name="anadir-pro">
                </div>
                <button type="submit" class="btn btn-default">Guardar</button>
            </form>
            <button type="submit" class="btn btn-default">A침adir al carrito</button>
        </div>
    </div>
</section>