<section id="personalizado" class="container">
    <div class="row">
        <h1>Personaliza</h1>
        <div id="mockup" class="col-md-6">    
            <div class>
                <img src="/bg-per.png" alt="">
            </div>   
            <% if (typeof(object) != 'undefined') {%>
                <div id='img-up'>
                   <img src="/<%= object.url_img %>" alt="">     
                </div>
                <p><%= object.texto %></p>
            <% } %>
        </div>
        <div id="create-comp" class="col-md-6">
            <form action="/personalizado" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">1. Selecciona tu foto</label>
                    <input type="file" name="url_img">
                </div>
                <div class="form-group">
                    <label for="">2. Escribe el texto</label>
                    <textarea name="texto"><% if (typeof(object) != 'undefined') {%><%= object.texto %>
                    <% } %></textarea>
                </div>
                <div class="form-group lab">
                    <label class="lab-save"> 3. Guarda</label>
                    <button class="btn save">Guardar</button>
                </div>
            </form>
            <form action="/cart" method="POST">
                <div class="form-group">
                    <label>4. Tipo de producto</label>
                    <select class="form-control" name="tipo">
                        <option>Rock</option>
                        <option>Metal</option>
                        <option>Pop</option>
                    </select>
                </div>
                <div class="añadir form-group">
                    <label class="anadir"> 5. Añade la cantidad</label>
                    <input type="number" value=0 name="cantidad">
                </div>
                <input type="text" value="1.50" hidden>
                <input type="text" name="all" value="<%= JSON.stringify(object) %>" hidden>
                <button type="submit" class="btn cart">Añadir al carrito</button>
            </form>
        </div>
    </div>
</section>