<section id="tipo" class="container">
    <div class="row">
        <article>
            <a href="/personalizado" id="personalizado">
                <i class=""></i>
            </a>
        </article>
        <article>
            <a href="/generico" id="generico">
                <i class=""></i>
            </a>
        </article>
    </div>
</section>        
        
        