<section id="tipo" class="container">
    <div class="row">
        <h1>Shop</h1>
        <div class="col-md-4 col-md-offset-2">
            <a href="/personalizado" id="personalizado">
                <article>
                    <i class="glyphicon glyphicon-user"></i>
                    <h2>PERSONALIZA</h2>
                </article>
            </a>
        </div>
        <div class="col-md-4">
            <article>
                <a href="/product" id="generico">
                    <i class="glyphicon glyphicon-th"></i>
                    <h2>GENÉRICO</h2>
                </article>
            </a>
        </div>
    </div>
</section>        
        
        
