@font-face {
  font-family: 'chunkfiveroman';
  src: url('../fonts/chunkfive-webfont.woff2') format('woff2'),
       url('../fonts/chunkfive-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'maven_proregular';
  src: url('../fonts/mavenpro-regular-webfont.woff2') format('woff2'),
       url('../fonts/mavenpro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'maven_probold';
  src: url('../fonts/mavenpro-bold-webfont.woff2') format('woff2'),
       url('../fonts/mavenpro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  padding: 0;
  margin: 0;
}

*{
  text-decoration: none!important;
}

img{
  max-width: 100%;
}

/* section{
  padding-top: 70px;
  padding-bottom: 70px;
} */

/* BARRA NAVEGACION */

nav{
  height: 100px;
  margin-bottom: 0!important;
  border-radius: 0!important;
}

nav div.container{
  padding: 0!important;
}

nav ul.navbar-right{
  margin-top: 35px;
}

nav ul.navbar-right li span#cart{
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block;
}

nav ul.navbar-right li i{
  font-size: 20px;
  cursor: pointer;
  margin-top: -4px;
}

nav ul.navbar-right li span#cart i:hover{
  color: #44b6ea;
}

.nav>li>a:focus, .nav>li>a:hover{
  background: #fff!important;
  color: #44b6eb;
}

nav ul.navbar-right li a{
  /* font-family: 'Oswald', sans-serif!important; */
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #585858;
}

nav ul.navbar-nav li{
  z-index: 9;
}

/* BARRA NAVEGACION */

/* FOOTER */

footer{
  text-align: center;
  padding: 20px 0;  
}

footer h3{
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 13px;
  color: #a2a2a2;
}

/* FOOTER */

/* HOME */

section#home{
  height: 80vh;
  background: url("../bg.png")center center no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 20px;
}

section#home div#cont{
  position: absolute;
  left: 50%;
  top: 85px;
  text-align: center;
  text-align: left;
  width: 355px;
}

section#home div#cont h1{
  font-family: 'chunkfiveroman';
  font-size: 70px;
  color: #44b6ea;
  line-height: 63px;
}

section#home div#cont h1 span{
  font-family: 'chunkfiveroman';
  font-size: 70px;
  display: block;
  color: #343435;
}

section#home div#cont p{
  font-size: 19px;
  margin-top: 20px;
}

section#home div#cont p span{
  font-family: 'maven_probold';
  font-size: 21px;
}

section#home div#cont a{
  background: #44b6eb;
  color: #fff;
  padding: 7px 35px;
  margin-top: 20px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}

/* HOME */

/* PERSONALIZADO */

section#personalizado h1{
  font-family: 'Roboto Slab', serif;
  color: #44b6eb;
  text-align: left;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-bottom: 80px;
}

section#personalizado h1:before{
  display: block;
  content: "";
  margin-bottom: 15px;
  margin-top: 50px;
  width: 50px;
  border-bottom: solid 4px #44b6eb;
}

section#personalizado div#mockup{
  position: relative;
  padding-left: 0;
}

section#personalizado div#mockup div#img-up{
  position: absolute;
  top: 180px;
  left: 222px;
}

section#personalizado div#mockup div#img-up img{
  width: 110px;
}

section#personalizado div#mockup p{
  position: absolute;
  top: 297px;
  left: 222px;
  width: 110px;
  font-family: 'Roboto Slab', serif;
  color: #585858;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  font-weight: 700;
}

section#personalizado div#create-comp div.form-group{
  margin-bottom: 0;
}

section#personalizado div#create-comp div.form-group.lab{
  margin-bottom: 20px;
}

section#personalizado div#create-comp label{
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #44b6eb;
  margin-bottom: 10px;
}

section#personalizado div#create-comp textarea{
  padding: 10px 20px 0;
}

section#personalizado div#create-comp label.lab-save{
  margin-bottom: 10px;
  display: block;
  margin-right: 30px;
}

section#personalizado div#create-comp label.anadir{
  display: block;
}

section#personalizado div#create-comp div.añadir input{
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  text-align: center;
}

section#personalizado div#create-comp button.cart{
  background: #585858;
  color: #fff;
  padding: 7px 35px;
  margin-top: -3px;
  margin-right: 20px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: none!important;
}

section#personalizado div#create-comp a{
  background: #44b6ea;
  color: #fff;
  padding: 7px 35px;
  margin-top: 40px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: none!important;
}

section#personalizado div#create-comp select{
  margin-bottom: 20px;
}

section#personalizado div#create-comp button.save{
  color: #44b6eb;
  padding: 7px 35px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: 1px solid #44b6eb;
}

section#personalizado div#create-comp input[type="file"]{
  margin-bottom: 20px;
  font-size: 12px;
  color: #b9b9b9;
}

section#personalizado div#create-comp textarea{
  width: 100%;
  border: 1px solid #dcdcdc;
  margin-bottom: 20px;
  border-radius: 4px;
}

/* PERSONALIZADO */

/* LOGIN */

section#login{
  margin-top: 20px;
}

section#login div#form-login{
  padding: 0!important;
  text-align: center;
}

section#login div#form-login h1{
  font-family: 'Roboto Slab', serif;
  color: #44b6eb;
  text-align: left;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-bottom: 40px;
}

section#login div#form-login h1:before{
  display: block;
  content: "";
  margin-bottom: 15px;
  margin-top: 50px;
  width: 50px;
  border-bottom: solid 4px #44b6eb;
}

section#login div#form-login div.form-group{
  padding-right: 30px;
  padding-left: 0;
}

section#login div#form-login input{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  height: 50px;
  padding: 20px;
}

section#login div#form-login button{
  background: #44b6eb;
  color: #fff;
  padding: 7px 35px;
  margin-top: 20px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: none!important;
  margin-right: 30px;
  margin-bottom: 20px;
}

section#login div#form-login p{
  margin-right: 30px;
}

section#login div#form-login p a{
  color: #44b6eb;
}

section#login div#img-login{
  background: url("../bg-log.png") center center no-repeat;
  background-size: cover;
  height: 80vh;
}

/* LOGIN */

/* SIGNUP */

section#sign{
  margin-top: 20px;
}

section#sign div#form-sign{
  padding: 0!important;
  text-align: center;
}

section#sign div#form-sign h1{
  font-family: 'Roboto Slab', serif;
  color: #44b6eb;
  text-align: left;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-bottom: 40px;
}

section#sign div#form-sign h1:before{
  display: block;
  content: "";
  margin-bottom: 15px;
  margin-top: 50px;
  width: 50px;
  border-bottom: solid 4px #44b6eb;
}

section#sign div#form-sign div.form-group{
  padding-right: 30px;
  padding-left: 0;
}

section#sign div#form-sign input{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  height: 50px;
  padding: 20px;
}

section#sign div#form-sign button{
  background: #44b6eb;
  color: #fff;
  padding: 7px 35px;
  margin-top: 20px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: none!important;
  margin-right: 30px;
  margin-bottom: 20px;
}

section#sign div#img-sign{
  background: url("../bg-sign.png") center center no-repeat;
  background-size: cover;
  height: 80vh;
}

/* SIGNUP */


/* CART */

section#cart{
  padding-bottom: 40px;
}

section#cart a#volver{
  background: #333333;
}

section#cart a#pagar{
  background: #44b6eb;
  float: right
}

section#cart a{
  color: #fff;
  padding: 7px 35px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: none!important;
  margin-top: 30px;
}

section#cart h1 {
  font-family: 'Roboto Slab', serif;
  color: #44b6eb;
  text-align: left;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-bottom: 60px;
}

section#cart h1:before {
  display: block;
  content: "";
  margin-bottom: 15px;
  margin-top: 50px;
  width: 50px;
  border-bottom: solid 4px #44b6eb;
}

section#cart p{
  text-align: right;
  margin-right: 10px;
  font-family: 'Roboto Slab', serif;
  color: #a2a2a2;
}

section#cart span{
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}

section#cart table tr{
  text-align: center; 
}

section#cart table tr:last-child{
  border-bottom: 1px solid #ddd;
}

section#cart table tr:first-child{
  border-bottom: 2px solid #ddd;
  
}

section#cart table th{
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #b7b7b7;
}

section#cart table tr td{
height: 50px;
vertical-align: middle;
}

section#cart table tr td i{
  color: #44b6eb;
  font-size: 35px;
  margin-top: 7px;
}

section#cart table tr td i:hover{
  color: #343435;
}

section#cart table tr td img{
  width: 70px;
  height: 70px;
}

section#cart table tr td.mt{
  font-family: 'maven_proregular';
  color: #636363;
}

section#cart table tr td.pro-to{
  color: #44b6eb;
}

/* CART */

/* TIPO */

section#tipo{
  height: 70vh;
  clear: both;
}

section#tipo h1{
  font-family: 'Roboto Slab', serif;
  color: #44b6eb;
  text-align: left;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-bottom: 80px;
}

section#tipo h1:before{
  display: block;
  content: "";
  margin-bottom: 15px;
  margin-top: 50px;
  width: 50px;
  border-bottom: solid 4px #44b6eb;
}

section#tipo article{
  text-align: center;
  border: 2px solid #ddd;
  height: 300px;
  padding: 70px 40px 40px;
  margin-bottom: 50px;
}

section#tipo article h2{
  font-family: 'Roboto Slab', serif;
  color: #585858;
}

section#tipo article i{
  color: #44b6eb;
  font-size: 30px;
  border: 5px solid #44b6eb;
  border-radius: 50%;
  padding: 30px;
}

/* TIPO */

/* LIST */

section#list{

}


section#list h1{
  font-family: 'Roboto Slab', serif;
  color: #44b6eb;
  text-align: left;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-bottom: 80px;
}

section#list h1:before{
  display: block;
  content: "";
  margin-bottom: 15px;
  margin-top: 50px;
  width: 50px;
  border-bottom: solid 4px #44b6eb;
}

section#list h2{
  font-family: 'Roboto Slab', serif;
  color: #585858;
  font-size: 19px;
  text-align: center;
}

section#list div.col-md-4{
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
}

section#list div.col-md-4:last-child{
  display: none;
}

section#list div.col-md-4 span{
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 22px;
  right: 40px;
  background: #2abbff;
  padding: 5px 10px;
  border-radius: 5px;
}



/* LIST */

/* DETAIL */

section#detail h1 {
  font-family: 'Roboto Slab', serif;
  color: #44b6eb;
  text-align: left;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 36px;
}

section#detail h1:before{
  display: block;
  content: "";
  margin-bottom: 15px;
  margin-top: 50px;
  width: 50px;
  border-bottom: solid 4px #44b6eb;
}

section#detail button {
  color: #44b6eb;
  padding: 7px 35px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: 1px solid #44b6eb;
}

section#detail div.atras{
  padding-left: 0;
  margin-bottom: 30px;
}

section#detail div.img{
  padding-left: 0;
  margin-bottom: 50px;
}

section#detail div.atras a{
  background: #585858;
  color: #fff;
  padding: 7px 35px;
  margin-top: -3px;
  margin-right: 20px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: none!important;
}

section#detail label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

section#detail button#anadirCarrito {
  background: #44b6eb;
  color: #fff;
  padding: 7px 35px;
  margin-top: 40px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: none!important;
  margin-left: 10%;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* DETAIL */