<div class="row">
    <div class="col-md-6" id="detail_img">
        <img src="<%=product.url_img%>">
    </div>
    <div class="col-md-6" id="detail_text">
        <input type="number" min="1">
        <button>Realizar pedido</button>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categoria
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">Metal</a>
                </li>
                <li>
                    <a href="#">Pop</a>
                </li>
                <li>
                    <a href="#">Rock</a>
                </li>
            </ul>
        </div>
    </div>
</div>