<section id="detail" class="container">
    <div class="row">
        <h1>Genericos</h1>
        <div class="col-md-6" id="detail_img">
            <img src="/<%=product.url_img%>">
        </div>
        <div class="col-md-6" id="detail_text">
            <div>
                <input type="number" min="1">
                <button id="anadir_Carrito">Añadir al carrito</button>
            </div>
            <div class="btn-group">
                <select class="form-control" id="desplegable-" name="tipo">
                    <option>Rock</option>
                    <option>Metal</option>
                    <option>Pop</option>
                </select>
            </div>
        </div>
    </div>
</section>