<section id="detail" class="container">
    <div class="row">
        <h1>Detalle</h1>
        <div class="atras col-md-12">
            <a href="/product">Volver</a>
        </div>
        <div class="img col-md-6" id="detail_img">
            <img src="<%=product.url_img%>">
        </div>
        <div class="col-md-6" id="detail_text">
            <p><%=product.texto%></p>
            <div class="form-group">
                <input class="form-control" type="number" value="1">
            </div>
            <div class="form-group"></div>
                <select class="form-control" id="desplegable-" name="tipo">
                    <option>Entera</option>
                    <option>Semidesnatada</option>
                    <option>Desnatada</option>
                </select>
            </div>
            <button id="anadir_Carrito">Añadir al carrito</button>
        </div>
    </div>
</section>