<% products.forEach((p) => { %>
    <section>
    <div class="row">
    <div class="col-md-4">
        <article>
        <a href="/product/<%= p._id %>">
            <img src="<%= p.url_img %>">
            <h2><%= p.texto %></h2>
            <span>1,5€</span>
        </a>
    </article>
    </div>
</div>
<%  }) %>
</section>